{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        {% if trackTime == 0 %} No time activity for this project <br>
        {% else %}
            <H3>--- Track Time ---</H3>
            Project: <b>{{ trackTime.0.project.name }}</b>
            <p><a href="{{ path('create_time_entry', {'prId': trackTime.0.project.id }) }}">add log time</a></p>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="table-info">
                            <th>Date</th>
                            <th>User</th>
                            <th>Activity</th>
                            <th>Issue id</th>
                            <th>Comment</th>
                            <th>Hours</th>
                            <th>rem</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, item in trackTime %}
                            <tr>
                                <td>{{ item.spent_on }}</td>
                                <td>{{ item.user.name }}</td>
                                <td>{{ item.activity.name }}</td>
                                {% if item.issue is defined %}
                                    <td> {{ item.issue.id }} </td>{% else %}
                                    <td></td>{% endif %}
                                {% if item.comments is defined %}
                                    <td> {{ item.comments }} </td>{% else %}
                                    <td></td>{% endif %}
                                <td>{{ item.hours }}</td>
                                <td>{% if item.user.id == 310 %}
                                        <a href="{{ path('rem_time_entry', {'prId': item.project.id, 'teId': item.id }) }}">del</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        {% endif %}
    </div>
    <a href="{{ path('listProjects') }}">Projects</a><br>
    <a href="{{ path('homepage') }}">Main</a>
{% endblock %}
