{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="dd">
                <h1>Integration with <span>Redmine</span></h1>
            </div>
            <div>
                <H3>List of Projects:</H3>
                {% if listProject %}
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Issues</th>
                            <th>Spent time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, item in listProject %}
                        <tr>
                            <td>{{ key }}<span>#: {{ item }}</span></td>
                            <td><a href="{{ path('listIssues', {'prId': item}) }}">view issues</a></td>
                            <td><a href="{{ path('time_list', {'prId': item}) }}">time</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {#
                count= {{ count }}<br>
                {{ dump(listIA) }}
                {{ dump(dataAPI) }}
                #}
            </div>
            <a href="{{ path('homepage') }}">Main</a>
        </div>
    </div>
{% endblock %}

