{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        {% if listIssues == 0 %} No Issues for this project <br>
        {% else %}
            <H3>--- List of Issues ---</H3>
            Project: <b>{{ listIssues.0.project.name }}</b>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="table-info">
                            <th>id</th>
                            <th>Tracker</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Subject</th>
                            <th>Author</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, item in listIssues %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.tracker.name }}</td>
                                <td>{{ item.status.name }}</td>
                                <td>{{ item.priority.name }}</td>
                                <td>{{ item.subject }}</td>
                                <td>{{ item.author.name }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="col-md-3"></div>
            </div>
        {% endif %}
    </div>
    <a href="{{ path('listProjects') }}">Projects</a><br>
    <a href="{{ path('homepage') }}">Main</a>
{% endblock %}

