{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="dd">
                <h1>Integration with <span>Redmine</span></h1>
            </div>
            <div>
                {% if trackTime == 0 %} No time activity for this project <br>
                {% else %}
                    <H3>Track Time, Project: {{ trackTime.0.project.name }}</H3>
                    <table>
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Activity</th>
                            <th>Issue id</th>
                            <th>Comment</th>
                            <th>Hours</th>
                        </tr>
                        </thead>
                        <tbody>
                         {% for key, item in trackTime %}
                        <tr>
                            <td>{{ item.spent_on }}</td>
                            <td>{{ item.user.name }}</td>
                             <td>{{ item.activity.name }}</td>
                             {% if item.issue is defined %}<td> {{ item.issue.id }} </td>{% else %}<td></td>{% endif %}
                             {% if item.comments is defined %}<td> {{ item.comments }} </td>{% else %}<td></td>{% endif %}
                             <td>{{ item.hours }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <a href="{{ path('listProjects') }}">Projects</a><br>
            <a href="{{ path('homepage') }}">Main</a>
        </div>
    </div>
{% endblock %}

