{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="dd">
                <h1>Integration with <span>Redmine</span></h1>
            </div>
            <div>
                <H3>List of Projects:</H3>
                {% if listProject %}
                    <ul>
                        {% for key, item in listProject %}
                            <a href="{{ path('listIssues', {'prId': item}) }}">
                                <li>{{ key }} <span>#: {{ item }}</span></li>
                            </a>
                        {% endfor %}
                    </ul>
                {% endif %}
                {#
                count= {{ count }}<br>
                {{ dump(listIA) }}
                {{ dump(dataAPI) }}
                #}
            </div>
            <a href="{{ path('homepage') }}">Main</a>
        </div>
    </div>
{% endblock %}

