{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        <H3>--- List of Comments ---</H3>
        Project: <b>{{ project.projectName }}</b>
        <p><a href="{{ path('new_comment') }}">add a comment</a></p>
        {% if comments %}
            {% for key, item in comments %}
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8 form-control">
                        <div class="card">
                            <div class="card-header">
                            <span>{{ item.getUserName }}</span>
                            <span>{{ item.getDate|date("m/d/Y") }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title"><b>comment:</b></p>
                            <p>{{ item.comment }}</p>
                        </div>
                        <a class="btn btn-sm btn-outline-success"
                           href="{{ path('edit_comment', {'id' : item.getId}) }}">edit</a>
                        <a class="btn btn-sm btn-outline-dark" href="{{ path('remove_comment', {'id' : item.getId}) }}">del</a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                {# {{ dump(item) }} #}
            {% endfor %}
        {% endif %}
    </div>
    <a href="{{ path('listProjects') }}">Projects</a><br>
    <a href="{{ path('homepage') }}">Main</a>
{% endblock %}
