{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        <H3>--- List of Projects ---</H3>
        {% if listProject %}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="table-info">
                            <th>Name</th>
                            <th>Issues</th>
                            <th>Spent time</th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, item in listProject %}
                            <tr>
                                <td>{{ key }}</td>
                                <td><a href="{{ path('listIssues', {'prId': item}) }}">view issues</a></td>
                                <td><a href="{{ path('time_list', {'prId': item}) }}">time</a></td>
                                <td><a href="{{ path('comm_list', {'prId': item, 'prName': key}) }}">comm</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3"></div>
            </div>
        {% endif %}
    </div>
    <a href="{{ path('new_comment') }}">add a comment</a><br>
    <a href="{{ path('homepage') }}">Main</a>
{% endblock %}
